<%= form_with(model: sword) do |form| %>
  <% if sword.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sword.errors.count, "error") %> prohibited this sword from being saved:</h2>

      <ul>
        <% sword.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <font size="5">
    <%= form.label :type %>
    <%= form.text_field :type %>
    </font>
  </div>

  <div class="field">
  <font size="5">
    <%= form.label :subtype %>
    <%= form.number_field :subtype %>
    </font>
  </div>

  <div class="field">
  <font size="5">
    <%= form.label :pommel %>
    <%= form.text_field :pommel %>
    </font>
  </div>

  <div class="field">
  <font size="5">
    <%= form.label :grip %>
    <%= form.text_field :grip %>
    </font>
  </div>

  <div class="field">
  <font size="5">
    <%= form.label :steel %>
    <%= form.text_field :steel %>
    </font>
  </div>

  <div class="field">
  <font size="5">
    <%= form.label :description %>
    <%= form.text_area :description %>
    </font>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
