<p id="notice"><%= notice %></p>

<h1 style="font-family: Old English Text MT"> Teutonic Armory</h1>
<br>
<img src="https://i.pinimg.com/474x/68/1b/6a/681b6ae8f53a15eb019bd8ab7c8188c6--knights-hospitaller-knights-templar.jpg">
<br>
<p>
<font size="3">"The Teutonic Armory offers high quality swords that can be customized to fit any 
user specifications. All of our swords are handmade and model real world swords from the
Oakshott Typology.
"</font></p>
<br>

<style>
        .button1 {
            background-color: red;
            border: 2px solid white;
            color: white;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration:none;
        }

        .button2 {
            background-color: yellow;
            border: 2px solid white;
            color: white;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
            text-decoration:none;
        }
</style>

<div class="container">
  <h2 style="font-family: Old English Text MT">Type</h2>
  <p>
  <font size="3">
  <strong>
  'We have three sword types that are designed from the Oakshott Typology of swords: Type XV,
  Type XVI, and Type XVII.'
  <strong>
  </font>
  <br>
  <h3 style="font-family: Old English Text MT">
  Oakshott Types
  </h3>
  <h4 style="font-family: Old English Text MT">Type XV</h4>
<img src="https://www.albion-swords.com/articles/images/typology/typology/XV.jpg">
<h4 style="font-family: Old English Text MT">Type XVI</h4>
<img src="https://www.albion-swords.com/articles/images/typology/typology/XVI.jpg">
<h4 style="font-family: Old English Text MT">Type XVII</h4>
<img src="https://www.albion-swords.com/articles/images/typology/typology/XVII.jpg">
<br>
<a class="button1">
<strong>More Info<strong>  </a>
</p>
  </p>
</div>

<div class="container">
  <h2 style="font-family: Old English Text MT">Subtype</h2>
  <p>
  <font size="3">'The subtypes we offer are 1 and 2.'</font>
  <br>
  <h4 style="font-family: Old English Text MT">Type XV-2</h4>
  <img src = "https://www.albion-swords.com/articles/images/typology/typology/XVa.jpg">
  <h4 style="font-family: Old English Text MT">Type XVI-2</h4>
  <img src = "https://www.albion-swords.com/articles/images/typology/typology/XVIa.jpg">
  <br>
  <a class="button1">
  <strong>More Info<strong>  </a>
  </p>
</div>

<div class="container">
  <h2 style="font-family: Old English Text MT">Pommel</h2>
  <p>
   <font size="3">'We offer pommels that are disc shaped, pear shaped, and octogonal shaped.'</font>
   <br>
   <h4 style="font-family: Old English Text MT">Disc</h4>
   <img src="https://th.bing.com/th/id/R.b25924b1546e5bc5f449536f5359120a?rik=QRoWQnpd1GTr9Q&riu=http%3a%2f%2fbeehatmead.com%2fwp-content%2fuploads%2f2020%2f05%2fRoundPommelHilt.jpg&ehk=86y8KAKUqVu9UJVibA80JfIiJ%2fwUvxTHeIiJdEpzUmg%3d&risl=&pid=ImgRaw&r=0">
   <h4 style="font-family: Old English Text MT">Pear</h4>
   <img src="https://www.albion-swords.com/images/swords/albion/skirmish/skirmish-liechtenauer-3.jpg">
   <h4 style="font-family: Old English Text MT">Octogonal</h4>
   <img src="https://i.pinimg.com/474x/98/f7/7e/98f77e4eaa5427083f40f267154fc478--swords-penguins.jpg">
   <br>
   <a class="button1">
   <strong>More Info<strong>   </a>
  </p>
</div>

<div class="container">
  <h2 style="font-family: Old English Text MT">Grip</h2>
  <p>
 <font size="3">'For the grip we offer oak, walnut, or maple.'</font>
 <br>
 <h4>Oak</h4>
 <img src="https://castillearmory.com/wp-content/uploads/2017/07/G002-OAK.jpg">
 <h4>Walnut</h4>
 <img src="https://castillearmory.com/wp-content/uploads/2017/08/G005-WALNUT.jpg">
 <h4>Maple</h4>
 <img src="https://castillearmory.com/wp-content/uploads/2017/07/G003-MAPLE.jpg">
 <br>
 <a class="button1">
 <strong>More Info<strong>
  </a>
  </p>
</div>

<div class="container">
  <h2 style="font-family: Old English Text MT">Steel</h2>
  <p>
 <font size="3">'Our steel types are either medium or high carbon'</font>
 <br>
 <h4>Medium Carbon</h4>

 <h4>High Carbon</h4>

 <br>
 <a class="button1">
 <strong>More Info<strong>
  </a>
  </p>
</div>

<table>
  <thead>
    <tr>

    </tr>
  </thead>
  <% if user_signed_in? %>
  <tbody>
    <% @swords.each do |sword| %>
      <tr>
        <td><%= sword.type %></td>
        <td><%= sword.subtype %></td>
        <td><%= sword.pommel %></td>
        <td><%= sword.grip %></td>
        <td><%= sword.steel %></td>
        <td><%= sword.description %></td>
        <td><font size="5"><strong><%= button_to 'Show', sword, style: 'background-color: green; color: white; font-size: 24px; padding: 12px 24px;', method: :get %><strong></font></td>
        <td><font size="5"><strong><%= button_to 'Edit', edit_sword_path(sword),style:'background-color: gold; color: white; font-size: 24px; padding: 12px 24px;', method: :get %><strong></font></td>
        <td><font size="5"><strong><%= button_to 'Destroy', sword, style: 'background-color: red; color: white; font-size: 24px; padding: 12px 24px;', method: :delete, data: { confirm: 'Are you sure?' } %><strong></font></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<br>
<font size="5">
<strong>
<center>
<%= button_to 'New Sword', new_sword_path, class:"button1", method: :get %>
</center>
</strong>
</font>
