<p id="notice"><%= notice %></p>

<h1 style="font-family: Old English Text MT">Your Items</h1>
<br>
<p style="font-family: Old English Text MT">
  <strong><font size="5">Type:</font></strong>
  <%= @sword.type %>
</p>

<p style="font-family: Old English Text MT">
  <strong><font size="5">Subtype:</font></strong>
  <%= @sword.subtype %>
</p>

<p style="font-family: Old English Text MT">
  <strong><font size="5">Pommel:<font></strong>
  <%= @sword.pommel %>
</p>

<p style="font-family: Old English Text MT">
  <strong><font size="5">Grip:<font></strong>
  <%= @sword.grip %>
</p>

<p style="font-family: Old English Text MT">
  <strong><font size="5">Steel:<font></strong>
  <%= @sword.steel %>
</p>

<p style="font-family: Old English Text MT">
  <strong><font size="5">Description:</font></strong>
  <%= @sword.description %>
</p>

<strong>
<%= link_to 'Edit', edit_sword_path(@sword) %> |
<%= link_to 'Back', swords_path %>
<strong>